.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 413px;
  margin-bottom: 12px;
  object-fit: cover;
  border-radius: 8px;
}

/*code to automatically add three dots if text is too long*/
.card__title {
  font-size: 20px;
  line-height: 125%;
  font-weight: 500;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 259px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-like.png);
}

.card__like-button_active:hover {
  background-image: url(../images/heart-like_hover.png);
}

.card__like-button:hover {
  opacity: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
  }
}
