.modal {
  padding: 0 10px;
  display: flex; /*figured this out on my own without assistence*/
  justify-content: center; /*figured this out on my own without assistence*/
  align-items: center; /*figured this out on my own without assistence*/
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box; /*check*/
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px; /*32px for top and bottom, 50px for left and right*/
  position: relative;
}

/*this css rule controls how the image looks after you click on it*/
.modal__content {
  padding: 0;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  object-fit: contain;
  overflow: hidden;
}

.modal__close-btn {
  opacity: 0.4;
  background: transparent; /*check*/
  border: none; /*check*/
  background-image: url(../images/exit.svg); /*check*/
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal_type_preview {
  padding: 16px;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}

.modal__close-btn_type_preview {
  opacity: 1;
  top: 0;
  right: -52.5px;
  background-image: url("../images/close_icon.png");
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__caption {
  font-family: Poppins, Areal, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: white;
  padding: 0;
  padding: 4px 8px;
  background-color: #212121;
  border-radius: 8px;
}

.modal__input {
  line-height: 100%;
  font-weight: 500;
  box-sizing: border-box; /*check*/
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border: 1px #21212140 solid;
  border-radius: 8px;
  width: 100%; /*check*/
  font-size: 20px; /*check*/
}

.modal__input:hover {
  cursor: pointer;
  border-color: #212121;
}

.modal__submit-btn,
.modal__submit-btn_create {
  width: 156px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  color: #fcf5e5; /*check*/
  border: none;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal__image {
    max-height: none;
    max-width: none;
    width: 100%;
  }

  .modal__close-btn_type_preview {
    top: -30px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }
}
